<div class="row">
    <div class="span12">
        <form name="form" class="form-horizontal" novalidate>
            <fieldset>
                <div class="control-group" ng-class="{true:'error', false:''}[form.name.$dirty && form.name.$invalid]">
                    <label class="control-label">Beer name</label>

                    <div class="controls">
                        <input type="text" id="name" name="name" ng-model="beer.name" required>
                        <span class="help-inline">Required</span>
                    </div>
                </div>
            </fieldset>

            <div class="form-actions">
                <button id="submit" type="submit" class="btn btn-primary" ng-click="saveBeer(beer)">{{submitMessage}}</button>
                or
                <a href="#/main" class="btn">Cancel</a>
            </div>

        </form>
    </div>
</div>

