<div class="row">
    <div class="span12 relative">
        <span></span>
        <a id="addCidre" class="btn btn-success right-btn" href="#/new">Add a cidre</a>
    </div>
</div>


<div class="row">
    <div class="span12">
        <table id="cidres" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="name">Name</th>
                <th class="price">Price</th>
                <th class="edit"></th>
                <th class="remove"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cidre in cidres">
                <td>{{cidre.name}}</td>
                <td>{{ cidre.price }}</td>
                <td class="edit"><a href="#/edit/{{cidre.id}}" class="icon-edit" role="button"></a></td>
                <td class="remove">
                    <a href="#delete{{cidre.id}}" role="button" data-toggle="modal" class="icon-remove"></a>
                    <div id="delete{{cidre.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modelLabel{{cidre.id}}" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="modelLabel{{cidre.id}}">Remove {{cidre.name}}</h3>
                        </div>
                        <div class="modal-body">
                            <p>Warning, the cidre {{cidre.name}} will be removed definitively</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            <button class="btn btn-danger" id="remove" ng-click="delete(cidre)">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>